$black: #000000;
$blue: #32a6d2;
$dead-gray: #7a7971;
$light-gray: #fafafa;
$red: #eb1c26;
$white: #ffffff;
$tab-font: Helvetica;
$title-font: Cairo;
$text-font: 'IBM Plex Mono', monospace;
$input-font: 'IBM Plex Mono';