
header {
  display: inline-grid;
  grid-template-columns: 50% 50%;
  text-transform: uppercase;
  justify-content: space-evenly;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

.sheet-info-character, .sheet-info-hub {
  padding-left: 1em;
  padding-top: 1.3em;
}

.sheet-info-character { color: $red; }
.sheet-info-hub { color: $blue; }

.game-title {
  @include std-font($title-font);
  font-size: 3.5em;
  line-height: 0.8em;
}
.mode-title {
  @include std-font($text-font);
  font-size: 1.1em;
}

.header-col2 {
  padding-top: 1em;
  border-left: 2px solid $black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
  label {
    font-weight: normal;
  }
}