include ../../components/information/information
include ../../components/input/input
include ../../components/nav/nav_bar
include ./specifics

- var type = 'hub'

div.header
  +information(type)

  //- nav bar
  +nav_bar(type)

//- pages
+specifics_page
