
mixin cosmic_mutations_block
  div.cosmic-mutations-block    
    div.stat-block.mutations-title
      label(data-i18n='cosmic_mutations')=locals['cosmic_mutations']
      +stat_area_no_label('cosmic_mutation', 4)
