.situation {
  display: inline-grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 6em 14em repeat(2, auto);
  width: 100%
}

.void-points-block {
  border-bottom: 2px solid $black;
  border-right: 2px solid $black;
  display: flex;
  grid-column-end: 3;
  grid-column-start: 1;
  grid-row-start: 1;

  .void-points-left {
    display: flex;
    flex-direction: column;
    width: 20%;
  }

  .void-points-right {
    flex: 1;
    padding: 5px;
  }

  .void-points-radios {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    padding: 5px;

    .void-points {
      display: flex;
      float: left;
      margin-top: 3px;
      margin: 0;
      padding: 0;
      width: 100%;

      label {
        padding: 4px;
        position: relative;
        float: left;

        input[type=radio] {
          display: none;
          margin-left: 10px;

          &:checked + span {
            background: $red;
            color: $white;
            border: none;

          }

          &:checked + span.invert {
            background: $black;
            color: $red;
            border: 1px solid $red;
          }
        }

        span {
          border-radius: 100%;
          border: 1px solid $dead-gray;
          // font-family: $item-font;
          font-size: 0.8em;
          height: 20px;
          left: 0;
          line-height: 1.5;
          overflow: hidden;
          position: absolute;
          text-align: center;
          top: 50%;
          width: 20px;
        }

        .invert {
          background: $black;
          color: $white;
        }
      }
    }
  }

  .void-points-text-top {
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
  }

  .void-points-text-bottom {
    font-size: 0.8em;
  }
}

.cosmic-mutations-block {
  border-bottom: 2px solid $black;
  border-right: 2px solid $black;
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  // grid-row-end: 4;
}

.life-support-block {
  border-bottom: 2px solid black;  
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  // grid-row-end: 6;

  .oxygen-tank-row {
    display: flex;
    flex: 0 0 100px;
    flex-direction: column;

    .oxygen-numbers {
      display: flex;
      flex: 0 0 20px;
      font-size: 11px;
      justify-content: space-between;
      padding-left: 30px;
      padding-right: 70px;
    }

    .oxygen-tank {
      background-image: url(' https://raw.githubusercontent.com/morgdalaine/morgdalaine-roll20/main/DEATH-IN-SPACE/assets/oxygen_tank.png');
      background-repeat: no-repeat;
      background-size: contain;
      flex: 0 0 58px;
      height: 58px;
      margin-left: 10px;
      margin-right: 10px;
      width: 220px;

      .oxygen-increments {
        display: flex;
        padding-left: 16px;
        padding-top: 6px;

        .oxygen-increment {
          height: 45px;
          width: 21px;

          label {
            padding: 0;
            margin: 0;

            input[type=checkbox] {
              display: none;

              &:checked + .tank-section {
                background: $red;
                background-color: $red;
                color: $white;

                &:hover {
                  background-color: rgba($red, 0.5);
                }
              }
            }
          }

          .tank-section {
            border-right: 1px solid $red;
            // font-family: $item-font;
            height: 45px;
            width: 21px;
            margin: -1px 0;
            padding: 0;

            &:hover {
              background-color: rgba($red, 0.5);
            }
          }

          &:nth-last-child(1) {
            border-right: none;
          }
        }
      }
    }

    .tank-space {
      flex: 1;
    }
  }
}

.void-corruption-block {
  display: flex;
  flex-direction: column;
  border-right: 2px solid $black;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;  
  // grid-row-end: 6;
}