
mixin void_corruption_block
  div.void-corruption-block
    div.stat-block.corruption-title
      label(data-i18n='void_corruption')=locals['void_corruption']
      +stat_area_no_label('void_corruption', 5)
