-
  var charRows = [
      {
        pages: [
          { id: '1', text: 'personal', checked: true },
          { id: '2', text: 'situation' },
          { id: '3', text: 'belongings' },
          { id: '4', text: 'weaponry' },
          { id: '5', text: 'notes' }
        ]
      }
    ]

-
  var hubRows = [
      {
        pages: [
          { id: '6', text: 'specifics', checked: true},
          { id: '7', text: 'hub' },
          { id: '8', text: 'layout' },
          { id: '5', text: 'notes' }
        ]
      }
    ]
