
.specifics {
  display: inline-grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4, 5em);
  width: 100%;
}

.nickname-row {
  border-bottom: 2px solid $black;
  border-right: 2px solid $black;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
}

.hub-frame-type-row {
  border-bottom: 2px solid $black;
  grid-column-start: 2;
  // grid-column-end: 2;
  grid-row-start: 1;
}

.hub-background-block {
  border-bottom: 2px solid $black;
  border-right: 2px solid $black;
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 4;
}

.appearance-block {
  border-bottom: 2px solid $black;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.quirks-block {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
}
