
mixin defense_block
  div.defense-row
    div.stat-block.defense-text
      +label_with_subtitle('defense', 'defense-subtitle')
    div.stat-block.defense-value
      +stat_no_label('number', 'defense')