
mixin hitpoint_block
  div.hit-points-row
    div.stat-block.hit-points-text
      +label_with_subtitle('hit-points', 'hit-points-subtitle-1', 'hit-points-subtitle-2')
    div.stat-block.hit-points-current-col
      +stat('number', 'hp', 'hp-current', 'attr_hp_max')
    div.stat-block.hit-points-max-col
      +stat('number', 'hp_max', 'hp-max')