
mixin origin_benefit_block
  div.stat-block.origin-benefit-block
    +stat_area('origin_benefit', 10)

mixin xp_block
  div.stat-block.xp-block
    +stat('number', 'xp')

mixin background_block
  div.stat-block.background-block
    +stat('text', 'background')

mixin past_allegiance_block
  div.stat-block.past-allegiance-block
    +stat('text', 'past_allegiance')

mixin trait_block
  div.stat-block.trait-block
    +stat('text', 'trait')

mixin drive_block
  div.stat-block.drive-block
    +stat('text', 'drive')

mixin looks_block
  div.stat-block.looks-block
    +stat_area('looks', 4)

mixin portrait_block
  div.stat-block.portrait-block
    +label_with_subtitle('portrait', 'portrait_subtitle')
    +stat_no_label('text', 'portrait')
    div.portrait
      div.portrait-image
        img(name='attr_character_avatar')
