// variables
@import './common/sass/variables';

// fonts
@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Arsenal&family=Cairo:wght@900&display=swap);

// common
@import './common/sass/shared';

// sheet core
.charsheet {
  width: 720px !important;
  margin: 0 auto !important;
  padding: 15px;
  font-weight: normal;
  @include std-font();

  .hide-element {
    display: none;
  }

  input[type='checkbox'].hide-element {
    display: none;
  }

  input[type='radio'].hide-element {
    display: none;
  }

  div.hide-element {
    display: none;
  }

  // Chrome, Safari, Edge, Opera
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // Firefox
  input[type=number] {
    -moz-appearance: textfield;
  }

 input[type=number], input[type=text], textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: $light-gray;
    border: none;
    border-radius: 0;
    font-family: $input-font;
    font-size: 0.8em;
    text-decoration: none;
  }

  input[type=number], input[type=text] {
    margin-left: 1em;
  }

  input[type=text] {
    width: -moz-available;          // WebKit-based browsers will ignore this.
    width: -webkit-fill-available;  // Mozilla-based browsers will ignore this.
    width: fill-available;
  }

  input[type=checkbox] {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: $light-gray;
    border: none;
    border-bottom: 1px dotted #000;
    border-radius: 0;
    font-family: $input-font;
    font-size: 0.8em;
    text-decoration: none;
    width: auto;
  }

  textarea {
    resize: none;
    line-height: 2em;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;         // Opera/IE 8+
    -moz-box-sizing: border-box;    // Firefox, other Gecko
    -webkit-box-sizing: border-box; // Safari/Chrome, other WebKit
  }

  label {
    margin: 0;
  }

  span.showhide:checked {
    background-color: #4C4D4F;
    color: white;
    transition: .5s ease;
  }

  span.showhide {
    display: inline;
    border: 1px solid #ccc;
    margin-right: 11px;
    border-radius: 4px;
    padding: 2px 4px;
    font-weight: bold;
    font-size: 1em;
  }

  span.showhide:hover {
    cursor: pointer;
    border-radius: 4px;
    padding: 2px 4px;
    background-color: #ccc;
    color: #4C4D4F;
    transition: .5s ease;
  }

  div.showhide { @include hide(); }

  .hide-element { display: none; }

  input[type='checkbox'].hide-element { display: none; }

  input[type='radio'].hide-element { display: none; }

  div.hide-element { display: none; }

  // Pages
  @import './pages/pages';

  // Components
  @import './components/information/information';
  @import './components/input/input';
  @import './components/nav/nav_bar';
  @import './components/personal/personal';

}

.ui-dialog {
  .charsheet {
    .repcontainer {
      .repitem {
        .itemcontrol {
          .repcontrol_del {
            float: right;
            width: auto;
            margin: 0;
            height: auto;
          }
          .repcontrol_move {
            cursor: move;
            width: auto;
            margin: 0;
            height: auto;
          }
        }
      }
    }
  }
}

input[type=text].repeating-input {
  border-bottom: 2px dotted $dead-gray !important;
}

@import './roll-templates/roll-template'