
input.act-zero:checked ~ div.act-zero,
input.act-one:checked ~ div.act-one,
input.act-two:checked ~ div.act-two,
input.act-three:checked ~ div.act-three,
input.act-final:checked ~ div.act-final {
  @include show-hide(0.7s);
}

.acts {
  width: 100%;

  .nav-child {
    width: 100%;
    align-self: center;
    margin: 0;


    div {
      margin: 0;
      padding: 0;
      cursor: pointer;

      &:hover {
        background: transparent;
        color: $dark-gray;
      }
    }
  }

  .page-button-back {
    padding: 0; //0.1em 0em 0.1em 0em;
    font-weight: 600;
    font-family: $tab-font;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 1em;
    color: $medium-gray;
  }

  .page-button {
    padding: 0;

    &:checked {
      & ~ div {
        &.page-button-back {
          padding: 0;
          background: transparent;
          font-size: 1em;
          color: $dark-red;
          // transition: none;

          &.final {
            background-color: $red;
            color: $white;
          }
        }
      }
    }
  }

  .nav-row {
    display: flex;
    background: none; //linear-gradient(90deg, $white, $dark-red);
    margin-top: 1em;
  }

  .nav-bar {
    align-items: center;
    // background-color: $red;
    // border-top: 3px solid $red;
    // border-bottom: 3px solid $red;
  }
}

.act-title-block {
  text-align: right;
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 1em;

  label {
    @include std-font($title-font);
    text-align: right;
  }

  .subtitle {
    @include std-font($title-font);
  }
}

.journaling-block {
  margin: 2em 0.5em;
  margin-left: 2em;
  padding: 0.5em;
  background-color: $light-gray;
  border-right: 8px solid $red;
  text-align: justify;
  text-transform: uppercase;

  label {
    @include std-font($title-font);
    text-align: right;
  }
}

.disagreement {
  text-align: justify;
}
