$black: #333
$blue: #32a6d2
$dead-gray: #7a7971
$dark-gray: #4c4d4f
$light-gray: #fafafa
$red: #eb1c26
$white: #ffffff
$tab-font: Helvetica
$title-font: Cairo
$text-font: 'IBM Plex Mono', monospace
$input-font: 'IBM Plex Mono'
