$black: #333
$blue: #32a6d2
$dark-gray: #575756
$dead-gray: #ff00ff
$light-gray: #fafafa
$red: #be1716
$white: #ffffff
$text-font: Adamina, serif
$castle-font: Almendra, serif

$legendary-heroes: #34748c
$half-damned: #a76559
$holy-church: #385d5c // #e9e5bf
$hidden-hand: #a76559 // #c0645c
$magi: #194641 // #c2a1aa
$guardians-of-nature: #2e572f
$fate-dealers: #6834ac
$defenders-of-tomorrow: #575756

$input-font: 'Inknut Antiqua', serif


$adamina: Adamina, serif
$inknut: 'Inknut Antiqua', serif
$spectral: Spectral, serif
$oswald: Oswald, sans-serif
