include ../../components/information/information
include ../../components/input/input
include ../../components/nav/nav_bar
include ./belongings
include ./notes
include ./personal
include ./situation
include ./weaponry

- var type = 'character'

div.header
  +information(type)

  //- nav bar
  +nav_bar(type)

//- pages
+personal_page
+situation_page
+belongings_page
+weaponry_page
+notes_page
