
mixin situation_page
  div.page-container
    input(
      type='radio'
      name='attr_character_page'
      class='situation hide-element'
      value='2')
    div.situation.showhide
      situation
