include ../../components/situation/void_points
include ../../components/situation/addiction
include ../../components/situation/cosmic_mutations
include ../../components/situation/void_corruption
include ../../components/situation/life_support

mixin situation_page
  div.page-container
    input(
      type='radio'
      name='attr_character_page'
      class='situation hide-element'
      value='2')
    div.situation.showhide
      +void_points_block
      +addiction_block
      +cosmic_mutations_block
      +void_corruption_block
      +life_support_block
