.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.layout-grid {
  align-items: center;
  background-image: radial-gradient($blue 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
  display: flex;
  height: 32em;
  justify-content: center;
  width: 100%;
  img {
    height: 100%;
    width: auto;
  }
}

