
mixin belongings_block
  div.belongings-block
    div.stat-block.belongings-header-row
      div.belongings-col
        +label('condition')
      div.belongings-col
        +label('condition')      
    fieldset.repeating_belongings
      div.belonging-row
        div.belonging-name
          +repeating_input('text', 'belongingname')
        div.belonging-condition
          +repeating_input('number', 'belongingcondition')
    div.belongings-note
      div.exclamation='!'
      div.note
        span(data-i18n='belongings_note')=locals['belongings_note']
        span.carry(name='attr_carry')

mixin small_items_block
  div.stat-block.small-items-block
    +label('small_items')
    fieldset.repeating_smallitems
      +repeating_input('text', 'smallitemname')
