
.belongings {
  display: inline-grid;
  // grid-template-columns: 50% 50%;
  grid-template-rows: auto 10em;
  width: 100%
}

.belongings-block {
  border-bottom: 2px solid $black;
  .belongings-header-row {
    display: flex;
    height: 1.5em;
    .belonging-name {
      flex: 1;
    }
    .belonging-condition {
      flex: 0 0 3em;
    }
  }
  .repcontainer[data-groupname="repeating_belongings"] > .repitem {
    .belonging-row {
      display: flex;
      height: 2.5em;
      width: 100%;
      div.belonging-name {
        flex: 1;
      }
      div.belonging-condition {
        flex: 0 0 80px;
        margin-left: 1em;
        input[type="number"] {
          border: 2px dotted $dead-gray;
          width: 100%;
        }
      }
    }
  }
  .belongings-note {
    display: flex;
    padding: 5px;

    .exclamation {
      font-size: 2.5em;
      text-align: right;
      width: 100%;
      font-weight: bold;
    }

    .note {
      display: inline-block;
      padding: 5px;
    }

    .carry {
      color: $dead-gray;
      margin-left: 2px;

      &:before {
        content: '(';
      }

      &:after {
        content: ')';
      }
    }
  }
}

.small-items-block {
}
