
mixin custom_moves
  div.custom-moves
    //- fieldset.repeating_custom_moves
    //-   div.bloodline-move-container
    //-     div.playbook-move
    //-       div.playbook-move-title
    //-         input(
    //-           type='text'
    //-           name='custom_move_name')
    //-       div.playbook-reverse-rotate
    //-         textarea(name='attr_custom_move_desc')
