
.moves-container
  display: flex

.moves-container-alt
  display: inline-grid
  grid-template-columns: repeat(2, 1fr)
  grid-template-rows: repeat(3, auto)

.moves-left, .moves-right
  width: 50%
  margin: 0 5px

.shared-move
  h3
    margin-bottom: 0.5em
    text-transform: uppercase
    letter-spacing: 2px

    button[type=roll]
      display: inline
      background-image: none

      span
        font-size: 18px
        font-weight: bold
        margin-left: 0.5em
        text-transform: uppercase
        letter-spacing: 2px

.bloodline-moves-container
  margin-bottom: 1em
  padding: 1em


.bloodline-moves-container
  h2, h3, h4
    margin-bottom: 1em

.bloodline-move-container
  display: inline-grid
  grid-template-columns: repeat(2, 1fr)
  grid-gap: 2em

.playbook-move
  background-color: $dark-gray
  @include fit-content-height
  @include rotate(-2deg)
  @include playbook-background-color

  .playbook-move-title
    display: flex
    width: 100%
    justify-content: space-around
    margin-top: -1em
    margin-left: -1em
    // background-color: $red

    h2, h3, h4
      color: $white
      white-space: nowrap
      background-color: $black
      padding: 0.25em 1em
      @include rotate(2deg)
      @include fit-content

  .playbook-reverse-rotate
    padding: 0.5em 1em
    margin-top: -1em
    color: $white
    @include rotate(2deg)

.move-select
  @include rotate(2deg)
  @include fill-available
  margin-top: 1em

  label
    display: block
    text-align: right
    padding: 0
    margin: 0

    input[type=checkbox]
      display: none

      &:checked + .move-square
        background-color: $black

  .move-square
    border: 4px solid $black
    background-color: $white
    height: 10px
    width: 10px
    padding: 0.25em 1em
    margin-right: 1em


