include ../../components/playbook/basics
include ../../components/playbook/creation
include ../../components/playbook/moves
include ../../components/playbook/pacts
include ../../components/playbook/stats
include ../../components/playbook/context
include ../../components/moves/custom

mixin bloodline_playbook
  div.page-container
    input(
      type='radio'
      name='attr_bloodline_page'
      class='playbook hide-element'
      value='playbook'
      checked)
    div.playbook.showhide
      +bloodline_basics
      +bloodline_creation
      +bloodline_stats
      +bloodline_pact
      +bloodline_moves
      +custom_moves
      +bloodline_context
