include ..\..\components\playbook\bloodline_playbook

mixin bloodline_playbook
  div.page-container
    input(
      type='radio'
      name='attr_bloodline_page'
      class='playbook hide-element'
      value='playbook'
      checked)
    div.playbook.showhide
      +bloodline_basics
      +bloodline_creation
      +bloodline_stats
      +bloodline_pact
      +bloodline_moves
