
mixin void_corruption_block
  div.void-corruption-block
    div.stat-block.corruption-title
      label(data-i18n='void_corruption')=locals['void_corruption']
    fieldset.repeating-corruptions
      +repeating_input('text', 'void_corruption')
