
mixin encounter_block
  div.encounter-block
    div.encounter-label-row
      div.stat-block.encounter-cross-check
        label='X/C'
      div.stat-block.encounter-date
        +label('encounter_date')
      div.stat-block.encounter-taken-recovered
        +label('taken_or_recovered')
      div.encounter-center
        label='diamond'
      div.stat-block.encounter-taken-recovered
        +label('taken_or_recovered')
      div.stat-block.encounter-date
        +label('encounter_date')
      div.stat-block.encounter-cross-check
        label='X/C'
