
mixin modules_block
  div.modules-wrapper
    div.modules-block
      div.stat-block.modules-header
        div.modules-name
          +label('modules')
        div.modules-power-cost
          +label('power_cost')
      fieldset.repeating_modules
        div.module-row
          div.module-name
            +repeating_input('text', 'modulename')
          div.module-power-cost
            +repeating_input('number', 'modulepowercost')
      //- total power cost and formula
      div.stat-block.modules-footer
        div.stat-block.modules-name
          label.subtitle.align-right(data-i18n='power_note')=locals['power_note']
        div.modules-total-power-cost
          div.stat-block.modules-name
            +const_stat_no_label('number', 'total_power_cost')

