@import url(https://fonts.googleapis.com/css2?family=Adamina&family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Inknut+Antiqua:wght@400;600;700&family=Oswald:wght@400;700&family=Spectral:ital,wght@0,400;0,700;1,400&display=swap);
.align-left {
  text-align: left !important;
}

.align-center {
  text-align: center !important;
}

.align-right {
  text-align: right !important;
}

.dotted-number input[type=number], .dotted-number input[type=number].stat-input {
  border: 2px dotted #ff00ff;
}

.current-max-block {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  border-right: 2px solid #333;
  padding: 2px;
}

.current-max-block .current-max-text {
  grid-column-end: span 2;
}

.current-max-block .stat-current-col, .current-max-block .stat-max-col {
  flex-direction: column;
}

.current-max-block .stat-current-col label, .current-max-block .stat-max-col label {
  text-align: center;
  font-size: 0.8em !important;
}

.current-max-block .stat-current-col input, .current-max-block .stat-max-col input {
  display: block;
  margin: 0 auto;
}

.current-max-block .stat-current-col input[type=number], .current-max-block .stat-current-col input[type=number].stat-input, .current-max-block .stat-max-col input[type=number], .current-max-block .stat-max-col input[type=number].stat-input {
  border: 2px dotted #ff00ff;
}

.current-max-block .stat-current-right-border {
  border-right: 2px dotted #ff00ff;
}

.charsheet {
  margin: 0 auto !important;
  padding: 15px;
  font-weight: normal;
  background-color: whitesmoke;
  font-family: Adamina, serif, serif;
}

.charsheet h2, .charsheet h3 {
  font-variant: small-caps;
}

.charsheet p {
  font-family: Adamina, serif, serif;
}

.charsheet .move-trigger {
  font-style: italic;
  font-weight: bold;
  font-family: Adamina, serif, serif;
}

.charsheet .thecastle {
  color: #be1716;
  font-weight: bold;
  font-size: 1.2em;
  font-family: Almendra, serif, serif;
}

.charsheet button[type=roll].roll-button {
  display: flex;
  border: none;
  margin: 0;
  padding: 0;
}

.charsheet .plus-action {
  font-weight: bold;
}

.charsheet .plus-action:before {
  content: ' +';
}

.charsheet .page-container {
  display: flex;
}

.charsheet .hide-element {
  display: none;
}

.charsheet input[type='checkbox'].hide-element {
  display: none;
}

.charsheet input[type='radio'].hide-element {
  display: none;
}

.charsheet div.hide-element {
  display: none;
}

.charsheet input::-webkit-outer-spin-button,
.charsheet input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.charsheet input[type=number] {
  -moz-appearance: textfield;
}

.charsheet input[type=number], .charsheet input[type=text], .charsheet textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #fafafa;
  border: none;
  border-radius: 0;
  font-family: "IBM Plex Mono";
  font-size: 0.8em;
  text-decoration: none;
}

.charsheet input[type=number] {
  text-align: center;
  font-size: 1.2em;
}

.charsheet input[type=text] {
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

.charsheet input[type=checkbox] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #fafafa;
  border: none;
  border-bottom: 1px dotted #333;
  border-radius: 0;
  font-family: "IBM Plex Mono";
  font-size: 0.8em;
  text-decoration: none;
  width: auto;
}

.charsheet textarea {
  resize: none;
  line-height: 2em;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.charsheet label {
  margin: 0;
}

.charsheet span.showhide:checked {
  background-color: #575756;
  color: white;
  transition: .5s ease;
}

.charsheet span.showhide {
  display: inline;
  border: 1px solid #ccc;
  margin-right: 11px;
  border-radius: 4px;
  padding: 2px 4px;
  font-weight: bold;
  font-size: 1em;
}

.charsheet span.showhide:hover {
  cursor: pointer;
  border-radius: 4px;
  padding: 2px 4px;
  background-color: #ccc;
  color: #575756;
  transition: .5s ease;
}

.charsheet div.showhide {
  visibility: hidden;
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.charsheet .hide-element {
  display: none;
}

.charsheet input[type='checkbox'].hide-element {
  display: none;
}

.charsheet input[type='radio'].hide-element {
  display: none;
}

.charsheet div.hide-element {
  display: none;
}

.charsheet button.btn.repcontrol_edit,
.charsheet button.btn.repcontrol_add {
  width: auto;
  height: auto;
  border: 1px solid #333;
  border-radius: 0;
  font-size: 0em;
  text-shadow: none;
  text-transform: uppercase;
  padding: 0.2em;
  margin: 0.3em;
  font-family: Adamina, serif, serif;
  color: #333;
  background: #fafafa;
}

.charsheet button.btn.repcontrol_edit:hover,
.charsheet button.btn.repcontrol_add:hover {
  color: #ffffff;
  background: #ff00ff;
}

.charsheet button.btn.repcontrol_edit:focus,
.charsheet button.btn.repcontrol_add:focus {
  outline: 3px solid #fd0;
  outline-offset: 0;
  box-shadow: inset 0 0 0 1px;
}

.charsheet .repcontrol button.repcontrol_add:before {
  font-family: pictos;
  font-size: 13px;
  margin: 1em;
  content: '&';
}

.charsheet .repcontrol button.repcontrol_edit:before {
  font-family: pictos;
  font-size: 13px;
  margin: 1em;
  content: '(';
}

.charsheet .repcontainer.editmode + .repcontrol button.repcontrol_edit:before {
  content: ')';
}

.charsheet button.btn.repcontrol_edit {
  margin-right: 3px;
}

.charsheet button.btn.repcontrol_add {
  margin-left: 3px;
}

.charsheet .page-container {
  display: block;
}

.charsheet .modes {
  display: flex;
  justify-content: space-evenly;
}

.charsheet h2.mode-title {
  text-align: center;
}

.charsheet div.mode-title {
  margin-bottom: 2em;
  font-family: Adamina, serif, serif;
}

.charsheet label.mode {
  text-align: center;
  margin: 0.5em;
  padding: 0;
  cursor: pointer;
  box-shadow: 1px 1px 19px 6px rgba(0, 0, 0, 0.15);
  opacity: 1;
  z-index: 5;
  width: auto;
}

.charsheet label.mode:hover h4 {
  color: white;
  background-color: #be1716;
  transition: .5s ease;
}

.charsheet label.mode:hover .mode-image {
  opacity: 0.7;
  transition: .5s ease;
}

.charsheet input[type=radio].bloodline-mode:checked ~ div.bloodline-mode,
.charsheet input[type=radio].explorer-mode:checked ~ div.explorer-mode {
  display: block;
}

.charsheet input[type=checkbox].modes-show:checked ~ div.modes-show {
  display: block;
}

.charsheet div.mode {
  display: flex;
  margin: 0;
  justify-content: center;
  width: fit-content;
  width: -moz-fit-content;
}

.charsheet .mode-image {
  display: flex;
}

.charsheet .component {
  display: block;
}

.charsheet .header {
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

.charsheet .nav-bar {
  display: flex;
  flex-direction: row;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

.charsheet .nav-bar .nav-row {
  display: flex;
  flex-direction: row;
}

.charsheet .nav-bar * {
  border: 2px solid magenta;
}

.charsheet .bloodline .playbook,
.charsheet .bloodline .moves,
.charsheet .explorer .playbook,
.charsheet .explorer .moves {
  display: none;
}

.charsheet .tab-toggle[value='playbook'] ~ div.tab-playbook,
.charsheet .tab-toggle[value='playbook'] ~ div.tab-moves {
  display: block;
}

.charsheet .tab-toggle[value='playbook'] ~ div div.tab-playbook,
.charsheet .tab-toggle[value='playbook'] ~ div div.tab-moves {
  display: block;
}

.charsheet .tabs {
  position: relative;
  display: table;
  padding-left: 0;
  margin-right: 20px;
  float: right;
}

.charsheet .tabs:before, .charsheet .tabs:after {
  content: '';
  border-bottom: 1px solid #333;
  bottom: 0;
  position: absolute;
  width: 10px;
  left: -10%;
  right: -10%;
}

.charsheet .tabs li {
  color: magenta;
  cursor: pointer;
  float: left;
  padding: 10px 15px;
  border-bottom: 1px solid #333;
}

.charsheet .tabs li button {
  color: #575756;
  border: none;
  background: transparent;
}

.charsheet .tab-toggle[value='playbook'] ~ div .tabs .tab-playbook,
.charsheet .tab-toggle[value='moves'] ~ div .tabs .tab-moves {
  border: 1px solid #333;
  border-bottom: none;
}

.charsheet .tab-toggle[value='playbook'] ~ div .tabs .tab-playbook button,
.charsheet .tab-toggle[value='moves'] ~ div .tabs .tab-moves button {
  border: 1px solid #be1716;
  border-bottom: none;
}

.charsheet .moves-container {
  display: flex;
}

.charsheet .moves-container-alt {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
}

.charsheet .moves-left, .charsheet .moves-right {
  width: 50%;
  margin: 0 5px;
}

.charsheet .shared-move h3 {
  margin-bottom: 0.5em;
}

.charsheet .shared-move h3 button[type=roll] {
  display: inline;
  background-image: none;
}

.charsheet .shared-move h3 button[type=roll] span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 0.5em;
}

.charsheet .bloodline-info, .charsheet .explorer-info {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.charsheet .bloodline-info .bloodline-name, .charsheet .explorer-info .bloodline-name {
  grid-column: span 3;
}

.charsheet .bloodline-info .bloodline-style, .charsheet .bloodline-info .bloodline-lore, .charsheet .explorer-info .bloodline-style, .charsheet .explorer-info .bloodline-lore {
  grid-column: span 2;
}

.ui-dialog .charsheet .repcontainer .repitem {
  margin: 5px;
  text-shadow: none;
}

.ui-dialog .charsheet .repcontainer .repitem .btn {
  font-size: 0.8em;
  border-radius: 0;
  border: 1px solid #ff00ff;
  color: #ff00ff;
  background: #ffffff;
  text-shadow: 0;
}

.ui-dialog .charsheet .repcontainer .repitem .itemcontrol {
  text-shadow: none;
}

.ui-dialog .charsheet .repcontainer .repitem .itemcontrol .btn-danger {
  background-color: #be1716;
  color: #ffffff;
  border: 1px solid transparent;
}

.ui-dialog .charsheet .repcontainer .repitem .itemcontrol .repcontrol_del, .ui-dialog .charsheet .repcontainer .repitem .itemcontrol .repcontrol_move {
  text-shadow: none;
}

.ui-dialog .charsheet .repcontainer .repitem .itemcontrol .repcontrol_del {
  float: right;
  width: auto;
  margin: 0;
  height: auto;
}

.ui-dialog .charsheet .repcontainer .repitem .itemcontrol .repcontrol_move {
  cursor: move;
  width: auto;
  margin: 0;
  height: auto;
}

input[type=text].repeating-input {
  border-bottom: 2px dotted #ff00ff !important;
  margin: 0;
}

.sheet-rolltemplate-sheetname {
  display: block;
}
