include ../../components/belongings/belongings
include ../../components/weaponry/equipment

mixin belongings_page
  div.page-container
    input(type='radio'
      name='attr_character_page'
      class='belongings hide-element'
      value='3'
      checked)
    div.belongings.showhide
      +belongings_block
      +small_items_block
      +weapon_block(1)
      +weapon_block(2)
      +armor_block
      +holos_debt
