-
  var
    bloodlines_list = [
      'legendary_heroes',
      'half_damned',
      'holy_church',
      'hidden_hand',
      'magi',
      'guardians_of_nature',
      'fate_dealers',
      'defenders_of_tomorrow',
      'open_bloodline',
    ]
