
-
  var
    bloodline_creation_list = {
      legendary_heroes: {
        name: 'legendary_heroes',
        starting_stats: [ 'legendary_heroes_starting_array_1', 'legendary_heroes_starting_array_2', 'legendary_heroes_starting_array_3' ],
        style: 'legendary_heroes_style',
        lore: 'legendary_heroes_lore',
        names: 'legendary_heroes_bloodline_name',
        history: 'legendary_heroes_history',
        pact: 'legendary_heroes_pact_name',
        prizes: 'legendary_heroes_prizes',
        at_camp: 'legendary_heroes_at_camp'
      },
      half_damned: {
        name: 'half_damned',
        starting_stats: [ 'half_damned_starting_array_1', 'half_damned_starting_array_2', 'half_damned_starting_array_3' ],
        style: 'half_damned_style',
        lore: 'half_damned_lore',
        names: 'half_damned_bloodline_name',
        history: 'half_damned_history',
        pact: 'half_damned_pact_name',
        prizes: 'half_damned_prizes',
        at_camp: 'half_damned_at_camp'
      },
      holy_church: {
        name: 'holy_church',
        starting_stats: [ 'holy_church_starting_array_1', 'holy_church_starting_array_2', 'holy_church_starting_array_3' ],
        style: 'holy_church_style',
        lore: 'holy_church_lore',
        names: 'holy_church_bloodline_name',
        history: 'holy_church_history',
        pact: 'holy_church_pact_name',
        prizes: 'holy_church_prizes',
        at_camp: 'holy_church_at_camp'
      },
      hidden_hand: {
        name: 'hidden_hand',
        starting_stats: [ 'hidden_hand_starting_array_1', 'hidden_hand_starting_array_2', 'hidden_hand_starting_array_3' ],
        style: 'hidden_hand_style',
        lore: 'hidden_hand_lore',
        names: 'hidden_hand_bloodline_name',
        history: 'hidden_hand_history',
        pact: 'hidden_hand_pact_name',
        prizes: 'hidden_hand_prizes',
        at_camp: 'hidden_hand_at_camp'
      },
      magi: {
        name: 'magi',
        starting_stats: [ 'magi_starting_array_1', 'magi_starting_array_2', 'magi_starting_array_3' ],
        style: 'magi_style',
        lore: 'magi_lore',
        names: 'magi_bloodline_name',
        history: 'magi_history',
        pact: 'magi_pact_name',
        prizes: 'magi_prizes',
        at_camp: 'magi_at_camp'
      },
      guardians_of_nature: {
        name: 'guardians_of_nature',
        starting_stats: [ 'guardians_of_nature_starting_array_1', 'guardians_of_nature_starting_array_2', 'guardians_of_nature_starting_array_3' ],
        style: 'guardians_of_nature_style',
        lore: 'guardians_of_nature_lore',
        names: 'guardians_of_nature_bloodline_name',
        history: 'guardians_of_nature_history',
        pact: 'guardians_of_nature_pact_name',
        prizes: 'guardians_of_nature_prizes',
        at_camp: 'guardians_of_nature_at_camp'
      },
      fate_dealers: {
        name: 'fate_dealers',
        starting_stats: [ 'fate_dealers_starting_array_1', 'fate_dealers_starting_array_2', 'fate_dealers_starting_array_3' ],
        style: 'fate_dealers_style',
        lore: 'fate_dealers_lore',
        names: 'fate_dealers_bloodline_name',
        history: 'fate_dealers_history',
        pact: 'fate_dealers_pact_name',
        prizes: 'fate_dealers_prizes',
        at_camp: 'fate_dealers_at_camp'
      },
      defenders_of_tomorrow: {
        name: 'defenders_of_tomorrow',
        starting_stats: [ 'defenders_of_tomorrow_starting_array_1', 'defenders_of_tomorrow_starting_array_2', 'defenders_of_tomorrow_starting_array_3' ],
        style: 'defenders_of_tomorrow_style',
        lore: 'defenders_of_tomorrow_lore',
        names: 'defenders_of_tomorrow_bloodline_name',
        history: 'defenders_of_tomorrow_history',
        pact: 'defenders_of_tomorrow_pact_name',
        prizes: 'defenders_of_tomorrow_prizes',
        at_camp: 'defenders_of_tomorrow_at_camp'
      }
    }
