script(type="text/worker")
  include ./scripts/belongings.js
  include ./scripts/current_max.js
  include ./scripts/frame_integrity.js
  include ./scripts/life_support.js
  include ./scripts/pages.js
  include ./scripts/repeating_sum.js
