
mixin header
  div.rivals-header
    div.rival.rival-left
      +stat('text', 'left_side', 'side')
      +stat('text', 'left_name', 'name')
      +stat('text', 'left_pronouns', 'pronouns')
    div.logo
    div.rival.rival-right
      +stat('text', 'right_side', 'side')
      +stat('text', 'right_name', 'name')
      +stat('text', 'right_pronouns', 'pronouns')
