$black: #333;
$blue: #3a8db9;
$dead-gray: #7a7971;
$dark-gray: #4c4d4f;
$light-gray: #fafafa;
$red: #d72328;
$white: #ffffff;
$tab-font: Helvetica;
$title-font: Cairo;
$text-font: 'IBM Plex Mono', monospace;
$input-font: 'IBM Plex Mono';
