
.belongings {
  display: inline-grid;
  // grid-template-columns: 50% 50%;
  grid-template-rows: repeat(2, 1fr);
  width: 100%
}

.belongings-block {
  border-bottom: 2px solid $black;

  .belongings-note {
    display: flex;
    padding: 5px;

    .exclamation {
      font-size: 2.5em;
      text-align: right;
      width: 100%;
      font-weight: bold;
    }

    .note {
      display: inline-block;
      padding: 5px;
    }

    .carry {
      color: $dead-gray;
      margin-left: 2px;

      &:before {
        content: '(';
      }

      &:after {
        content: ')';
      }
    }
  }
}
